*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777;
  --color-1c1c1b: #1c1c1b;

}

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 10px;
}
body{
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.link{
  background-color: var(--color-131921);
  color: white;
  font-size: 14px;
  padding: 13px 33px ;
  border-radius: 25px;
  
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}

.gap-15 {
  gap:15px;
}

.gap-30{
  gap: 30px;
}

/* Header part */
.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
 
}
.header-bottom{
  background-color: var(--color-232f3e);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
 
}

.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
}

.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
.link{
  padding-left: 50px;
  display: inline-block;
}

.header-upper{
  background-color: var(--color-3b4149);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
/*Header parts ends here */

/*footer part starts here */
footer {
  background-color: #232f3e;
}

footer:not(:first-child){
  border-top: 1px solid var(--color-3b4149)
}
footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
 
}

/* footer part stops here */

/* Home page starts here */
.main-banner-content{
  top: 10%;
  left: 5%;
}

.main-banner-content h4{
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921)
  
}
.imgg{
  width:280px;
}

.small-banner{
 margin-top:20px;
}
.small-banner-content{
  top: 15%;
  left: 5%;
}


.small-banner-content h4{
  font-size:14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
 
}

.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  padding: 0;
  text-transform: none;
}

.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921)
  
}


/* home wrapper 2 */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}

/* home wrapper 2 ends */
.button {
  background-color: var(--color-131921);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

/* categories section */
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 24%;
  padding: 10px 10px 10px 20px;
}
.categories>div img{
  width: 100px;
  height: 100px;
  
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){
  border-right: 1px solid var(--color-ededed) ;
}

.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed) ;
}

.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){
  border-right: 1px solid var(--color-ededed) ;
}

.categories>div>div{
  width: 60%;
}

/* categories section ends here */

/* blog part */

.blog-card{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content{
  padding: 15px;
}

.blog-content p.date{
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: var(--color-777777);
  margin-bottom: 10px;
}

.blog-content h5{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--color-131921);
  margin-bottom: 10px;
}

.blog-content p.desc {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: var(--color-777777);
  margin-bottom: 10px;

}

.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
/* blog part ends here */

/*product card */
.product-card{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  overflow:hidden;
  width:100%;
  
}

.product-card:hover .action-bar{
  right: 15px;

}



.product-card .product-details h6{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: var(--color-bf4800);
  margin-bottom: 10px;
}

.product-card .product-details h5{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--color-131921);
  margin-bottom: 10px;
}

.product-card .product-details p.price{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.product-card:hover .product-image>img:last-child{
  display:none;
}
.product-card:hover .product-image>img:nth-child(1){
  display:none;
}
.product-card:hover .product-image>img:last-child{
  display:block;
}
.product-card .product-image>img:last-child{
  display: none;
}

.product-card .product-image{
  height: 270px;
}

.product-card .product-image>img{
  object-fit: contain;
}
.action-bar{
  top:10%;
  right: -30px;
  transition:0.3s;
}
.wishlist-icon{
  top:2%;
  right: 15px;
}

.product-card p.description{
  font-size:13px;
  color: var(--color-777777);
  margin-right: 20px;
}
/* product card ends here */

/* special products */
.special-product-card{
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

/* famouse card */

.famous-card{
  background-color: black;
}
.famous-card .famous-content{
  top:10%;
  left: 10%;
  

}
.famous-cardd{
 
  background-color: rgb(255, 255, 255);

}
.famous-cardd .famous-content{
  top:10%;
  left: 10%;
  

}
.famous-cardd img {
  border-radius: 10px;
  margin-top: 150px;
  
  
}

.famous-card img {
  border-radius: 10px;
  margin-top: 150px;
  
  
}
.famous-content h5{
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;

}
.famous-card h6{
  font-size:24px;
  line-height: 38px;
  font-weight: 500;
  color:white;

}
.famous-cardd h6{
  font-size:24px;
  line-height: 38px;
  font-weight: 500;
  color:white;

}
.famous-card p{
font-size: 16px;
line-height: 24px;
font-weight: 100;
color: white;
}



/*famouse card ends here */

/* our store */
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}
.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;

}

.filter-card ul,
.filter-card .form-check-label{
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0,0,0,0.25);
}

.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin: 20px;
}
.filter-card .form-check-input:checked{
background-color: var(--color-febd69);
border-color: var(--color-febd69);
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap:10px;
}

.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.random-products{
  border-bottom: 1px solid var(--color-ededed);
}

.random-products h5{
  font-size: 14px;
  margin-bottom: 8px;
}

.filter-sort-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.grid img{
  width:35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.gr-12{
  width:100%;
}
.gr-6{
  width:49%;
}

.gr-4{
  width:32%;
}
.gr-3{
  width:24%;
}
.gr-6 .product-image{
  width: 100%;

}
.gr-6 .product-image img{
  margin: auto;
  display: block
}



.gr-12 .product-card{
  display: flex;
  gap:20px;
}
.gr-12 .product-card .product-image{
  width: 270px;
}
.gr-12 .action-bar{
  top:14%;
}
.gr-12 .product-card .product-image{
  height: auto;
}
/* our store ends here */

/* contact page */
.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;

}

.contact-inner-wrapper>div{
  width:48%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  
}
.contact-inner-wrapper form .form-control{
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  border-color:transparent;
  padding: 10px
}

.contact-inner-wrapper ul{
  list-style: none;
}

.contact-inner-wrapper address, .contact-inner-wrapper a, .contact-inner-wrapper p{
  color: var(--color-777777)
}

/* contac page ends here */


/*special products ends here */
/* Home page ends here */